In [3]:
import streamlit as st
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame(
    np.random.rand(100, 2)/ [50, 50] + [35.69, 139.70],
    columns=[ 'lat', 'lon']
)
df

          lat         lon
0   35.705960  139.719422
1   35.693124  139.716646
2   35.708321  139.708713
3   35.693651  139.706189
4   35.706961  139.707237
..        ...         ...
95  35.698983  139.708546
96  35.690727  139.706980
97  35.701220  139.702114
98  35.695837  139.715647
99  35.691678  139.703801

[100 rows x 2 columns]

In [15]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
import time

In [20]:
for i in range(100):
    print(i)
    time.sleep(1)

0

NameError: name 'time' is not defined